openapi: 3.1.0
info:
  title: Healthcare Simulation API
  description: |
    Interactive medical scenario simulation and validation API for healthcare training.
    
    Features:
    - Medical scenario simulations
    - Protocol validation
    - Real-time feedback
    - Multi-language support
  version: v1.0.0
  contact:
    name: Healthcare Simulation Team
    email: support@iqhis.dev
  x-logo:
    url: https://iqhis.dev/logo.png
    backgroundColor: "#FFFFFF"
  x-rapidapi-name: healthcare-simulation
  x-rapidapi-category: Healthcare & Medical

servers:
  - url: https://healthcare-simulation.p.rapidapi.com
    description: RapidAPI Healthcare Simulation Service

paths:
  /simulate:
    post:
      summary: Simulate Medical Scenario
      description: Process an interactive medical simulation scenario with real-time feedback
      operationId: simulateScenario
      tags: ["Simulation"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["message"]
              properties:
                message:
                  type: string
                  description: Scenario description or next action
                  example: "Start cardiac arrest simulation"
      responses:
        '200':
          description: Successful simulation response
          content:
            application/json:
              schema:
                type: object
                required: ["scenario_id", "response"]
                properties:
                  scenario_id:
                    type: string
                    description: Unique identifier for the simulation session
                  response:
                    type: string
                    description: AI-generated response with next steps
                  next_steps:
                    type: array
                    items:
                      type: string
                    description: List of recommended next actions
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /validate:
    post:
      summary: Validate Medical Action
      description: Validate healthcare decisions against standard protocols
      operationId: validateAction
      tags: ["Validation"]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: ["action"]
              properties:
                action:
                  type: string
                  description: Medical action to validate
                  example: "Start chest compressions"
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                type: object
                required: ["is_valid", "feedback"]
                properties:
                  is_valid:
                    type: boolean
                    description: Whether the action is valid
                  feedback:
                    type: string
                    description: Detailed feedback about the action
                  score:
                    type: number
                    format: float
                    description: Protocol adherence score (0-100)

tags:
  - name: Simulation
    description: Medical scenario simulation endpoints
  - name: Validation
    description: Protocol validation endpoints

components:
  securitySchemes:
    RapidAPIKey:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: RapidAPI subscription key
  
  schemas:
    SimulationRequest:
      type: object
      required: ["message"]
      properties:
        message:
          type: string
          description: Scenario description or next action
          example: "Start cardiac arrest simulation"
        language:
          type: string
          enum: ["en", "he"]
          default: "en"
          description: Preferred language for the simulation

    SimulationResponse:
      type: object
      required: ["scenario_id", "response", "next_steps"]
      properties:
        scenario_id:
          type: string
          description: Unique identifier for the simulation session
        response:
          type: string
          description: AI-generated response with next steps
        next_steps:
          type: array
          items:
            type: string
          description: List of recommended next actions
        vital_signs:
          type: object
          properties:
            heart_rate:
              type: string
              description: Heart rate with emoji
              example: "❤️ 72"
            respiratory_rate:
              type: string
              description: Respiratory rate with emoji
              example: "🫁 16"
            temperature:
              type: string
              description: Temperature with emoji
              example: "🌡️ 36.5"
            blood_pressure:
              type: string
              description: Blood pressure with emoji
              example: "⚡ 120/80"

    ValidationRequest:
      type: object
      required: ["action", "protocol"]
      properties:
        action:
          type: string
          description: Medical action to validate
          example: "Start chest compressions"
        protocol:
          type: string
          enum: ["ACLS", "BLS", "PALS", "TRAUMA"]
          description: Medical protocol to validate against

    ValidationResponse:
      type: object
      required: ["is_valid", "feedback", "score"]
      properties:
        is_valid:
          type: boolean
          description: Whether the action is valid
        feedback:
          type: string
          description: Detailed feedback about the action
        score:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Protocol adherence score (0-100)
        references:
          type: array
          items:
            type: object
            properties:
              protocol:
                type: string
              section:
                type: string
              details:
                type: string

    Error:
      type: object
      required: ["error"]
      properties:
        error:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
        details:
          type: object
          description: Additional error details

security:
  - RapidAPIKey: []

x-rapidapi-pricing:
  - plan: Basic
    price: 0
    quota: 100
    unit: requests per day
  - plan: Pro
    price: 10
    quota: 1000
    unit: requests per day 